h1{ 
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h2{
    text-align: left, justify;
    font-family: 'Inter', sans-serif;
    font-weight:300;
}

h3{
    text-align: left, justify;
    font-family: 'Inter', sans-serif;
    font-weight:300;
}

p{
    text-align: left, justify;
    font-family: 'Inter', sans-serif;
    font-weight:200;
}

#time{
    text-decoration:underline;
}

#white{
    color: white;
}